<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}" ></script>
</head>
<body>
  <div class="menu notopened" id="menu">
      <ul>
          <li><a href="#top">الصفحة الرئيسية</a></li>
          <li><a href="#history">التاريخ</a></li>
          <li><a href="#gallery">المعرض</a></li>
          <li><a href="#about">نبذة</a></li>
          <li><a href="#contact">اتصل بنا</a></li>
      </ul>
  <button class="menuBtn" onclick="toggle_hide()">
    <img width="30" src="{{url_for('static', filename='images/menu-ico.svg')}}" alt="">
  </button>
</div>
<div class="main">
    <h1 id="top">التعريف</h1>
    <p>
        كرة القدم هي رياضة جماعية تُلعب بين فريقين يتكون كل منهما من أحد عشر لاعبًا تلعب بكرة مُكوَّرة. يلعب كرة القدم 250 مليون لاعب في أكثر من مائتي دولة حول العالم، فلذلك تكون الرياضة الأكثر شعبية وانتشارًا في العالم. تُلعب كرة القدم في ملعب مستطيل الشكل مع مرميين في جانبيه. الهدف من اللعبة هو إحراز الأهداف بركل الكرة داخل المرمى.
    </p>
    <h1 id="history">التاريخ</h1>
    <p>
        هناك نوعان من ألعاب كرة القدم وُثِّق وجودها تاريخيًّا في أوروبا وهي: إيبسكسروس، من اليونان القديمة وهارباستوم، التي ظهرت خلال العهد الروماني. وكِلتا اللعبتين تشبهان كرة القدم التي يتجمهر عليها الناس وهي غير مسجلة، وتُلعب فيها كرة القدم بحملها باليد أكثرَ منها بركلها. وهناك العديد من المنافسات القديمة التي تقوم حول ركل كرة في عدد قليل من البلدان، مثل التسوجو في الصين. وهناك أيضًا ألعاب مشابهة ولكن غير تنافسية مثل الكيماري في اليابان والووغاباليري في أستراليا. تعتمد القوانين الحديثة لكرة القدم على الجهود التي بُذلت في وسط القرن التاسع عشر لتوحيد الأنواع المختلفة لكرة القدم التي كانت تُلعب في مدارس إنجلترا المحلية. يعود تاريخ كرة القدم في إنجلترا إلى القرن الثامن على الأقل
    </p>
    <h1>الملعب</h1>
    <p>
        ليس لجميع الملاعب الحجمُ نفسه، إلا أنَّ الأبعاد المُفضَّلة للملاعب الاحترافية هي 68 متراً في 105 أمتار، أي ما يعادلُ مساحة 7,140 بالمتر المربع.
    </p>
    <h1 id="gallery">المعرض</h1>
    
    <div class="cardsDiv">
        <div class="card">
            <img class="cardImg" src="{{url_for('static', filename='images/saff.jpg')}}" alt="">
            <h4>
                الاتحاد السعودي لكرة القدم هو الجهة الراعية لرياضة كرة القدم في السعودية والمسؤول المباشر عن منتخبات السعودية الوطنية لكرة القدم والأندية المحلية المشاركة في الدوري السعودي
            </h4>
        </div>
        
        <div class="card">
            <img class="cardImg" src="{{url_for('static', filename='images/logo.jpg')}}" alt="">
            <h4>
                يعتبر الاتحاد السعودي لكرة القدم أحد أشهر الاتحادات في قارة آسيا في مجال كرة القدم، فعلى الصعيد الإقليمي حقق المنتخب السعودي لقب بطولة كأس الخليج لكرة القدم 3 مرات بتاريخه
            </h4>
        </div>
        
        <div class="card">
            <img class="cardImg" src="{{url_for('static', filename='images/team.jpg')}}" alt="">
            <h4>
                المنتخب السعودي لكرة القدم هو ممثل السعودية الرسمي في رياضة كرة القدم، تأسس عام 1956م، ورسميًا يمثل المنتخب السعودي الوطني كرة القدم للرجال
            </h4>
        </div>
        
        <div class="card">
            <img class="cardImg" src="{{url_for('static', filename='images/field.jpg')}}" alt="">
            <h4>
                ملعب الملك عبدالله في المدينة الرياضية في غرب جدة, شمال مطار الملك عبدالعزيز الدولي
            </h4>
        </div>
    </div>
</body>
</html>
